<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Welcome to Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-fab vertical = "bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side = "top">
      <ion-fab-button>
        <ion-icon name ="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name ="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name ="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Card Title
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a basic card example.
    </ion-card-content>
  </ion-card>

  <div id = "container">
  <ion-label>Modal</ion-label>
  <ion-button color = "primary" (click) = "toggleModal()">Modal</ion-button>
  <ion-label>Alert</ion-label>
  <ion-button color = "warning" (click) = "alert()">Alert</ion-button>
  <ion-label>Toast</ion-label>
  <ion-button color = "primary" (click) = "presentToast()">Toast</ion-button>
  
  <ion-item>
    <ion-label>Volume</ion-label>
    <ion-range min="0" max="100" [(ngModel)]="volume" color="secondary">
      <ion-icon slot="start" size="small" name="volume-low"></ion-icon>
      <ion-icon slot="end" size="small" name="volume-high"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-list>
    <ion-item>
      Item 1
    </ion-item>
    <ion-item>
      Item 2
    </ion-item>
    <ion-item>
      Item 3
    </ion-item>
  </ion-list>
<br>
<br>
  <ion-label> API </ion-label>
  <div *ngFor = "let book of books;">
   <p> Title: {{ book.title }} </p>
  </div>

  </div>
</ion-content>
